*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #474747;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

header{
    display: flex;
    justify-content:space-between;
    
    
}

.nav-1{
    display: flex;
    margin-top: 1rem;
    margin-left: 30px;
}

.nav-1 p{
    margin-top: 10px;
    margin-right: 20px;
    cursor:pointer;
}

.nav-2{
    display: flex;
    margin-top: 1rem;
    margin-right: 30px;
}

.nav-2 p{
    margin-top: 10px;
    margin-right: 20px;
    cursor:pointer;
}

.nav-2 img{
    margin-right: 10px;
    cursor:pointer;
}

#Sign-In{
    color: white;
    padding: 5px;
    background-color: #5179e6;
    border-radius: 3px;
    margin-right: 10px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    cursor:pointer;
}
section{
    width: 100%;
    height: 100%;
    margin-top: 20vh;
    
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.png{
    width: 20px;
    height: 20px;
}

input{
    border:hidden;
    outline: none;
    width: 26rem;
}
input:focus{
    border:none;
}

.search-input{
    display: flex;
    width: 40%;
    justify-content:space-between;
    align-items: center;
    border: 1px solid #ebebeb;
    border-radius: 1.5rem;
    padding: 10px;
}

.search-input:hover{
    box-shadow:2px 2px   #e7e9eb;
}

.search-button{
    display: flex;
}

.search-button p{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color:#f8f9fa;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    color:#3c4043;

}
.search-button p:hover{
    box-shadow:2px 2px   #e7e9eb;
}

footer p{
    width:100vw;
    padding: 0.8rem;
    background-color:#E2E2E2 ;
    border-bottom: 1px solid #bdbaba;
}

.foot-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color:#E2E2E2 ;
}

footer a{
    margin-right: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
}

